{% extends 'partials/_navbar.html' %}

{% block title %}
    Lista de libros
{% endblock  %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a href="{% url 'crear' %}" class="btn btn-success">Agregar libro</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Libros</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>Django con Python</td>
                        <td>Imagen</td>
                        <td>Clases desde 0 con django usando python</td>
                        <td> <a href="{% url 'editar' %}" class="btn btn-info">editar</a> | <a href="" class="btn btn-danger">Borrar</a></td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
{% endblock  %}